# macOS
.DS_Store
release/.DS_Store

# Xcode user data
*.xcuserstate
xcuserdata/
**/xcuserdata/

# Build artifacts
build/
dist/
DerivedData/
release/*.zip
release/*.delta

# Xcode build output
*.dSYM
